.card {
    width: 260px;
    height: 300px;
    padding: 20px;
    background-color: rgb(0, 98, 255);
    border-radius: 12px;
}

.card.red {
    background-color: #f03744;
}

.card.green {
    background-color: #26F07D;
}

.card.purple {
    background-color: #8254EF;
}

.card.orange {
    background-color: #EF8E2C;
}

.card__description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: aliceblue;
    height: 100%;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0px 0px 10px rgb(43, 43, 43);
}
